<% if logged_in? %>
<div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">みんなのレシピ</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォローしている人のレシピ</a></li>
    </ul>
</div>
<% else %>
<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item">みんなのレシピ</li>
  </ul>
</div>
<% end %>