<% if logged_in? %>
<div class="col-sm-12">
　<ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
        <a href="#all_recipes" class="nav-link active wf-sawarabigothic" data-toggle="tab" >みんなのレシピ</a>
    </li>
    <li class="nav-item">
        <a href="#follow_recipes" class="nav-link wf-sawarabigothic" data-toggle="tab" >フォローしている人のレシピ</a>
    </li>
　</ul>
</div>

<div class="tab-content">
    <div id="all_recipes" class="tab-pane active">
      <%= render 'recipes/recipe', recipes: @recipes %>
    </div>
    <div id="follow_recipes" class="tab-pane">
      <%= render 'recipes/recipe', recipes: @frecipes %>
    </div>
</div>
<% else %>
<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
        <a href="#all_recipes" class="nav-link active wf-sawarabigothic" data-toggle="tab" >みんなのレシピ</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div id="all_recipes" class="tab-pane active">
    <%= render 'recipes/recipe', recipes: @recipes %>
  </div>
</div>
<% end %>

