<% if followers.any? %>
  <ul class="list-unstyled">
    <% followers.each do |user| %>
      <li class="media">
        <% if @user.image? %>
            <img src="<%= @user.image %>" width="50" hight="50">
        <% else %>
            <%= image_tag "default.png", width:50, hight:50 %>
        <% end %> 
        <div class="media-body">
          <div class="followers">
            <p><%= link_to user.name, user_path(user), class: "wf-sawarabigothic" %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate followers %>
<% end %>
