<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
        <a href="#all_recipes" class="nav-link active" data-toggle="tab" >お気に入りレシピ <span class="badge badge-secondary"><%= @count_likes %></span></a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div id="all_recipes" class="tab-pane active">
    <%= render 'recipes/recipe', recipes: @likes %>
  </div>
</div>
