.header {
    background-color: #000066;
    height: 90px;
}

.title:link, .title:visited, .title:hover, .title:active {
    color: #FFFFEE;
    font-family: "Suzumushi";
    font-size: 30px;
    text-decoration: none;
    
}
